/* write your override styles here */
#wall .tag-1 {
  display: none;
}

#tag-3 ~ .parent {
  display: none;
}

body div#wall div.tag-1 + #tag-2 {
  display: none;
}

/*working above*/

body div#wall div#tag-2 ~ #tag-3 {
  display: none;
}

.tag-1 + #tag-2 {
  display: none;
}

#tag-2 ~ #tag-3 {
  display: none;
}

#tag-3 ~ .parent {
  display: none;
}

#tag-2 ~ #tag-3.slick {
  display: none;
}
